# Optional: E-Mail-Benachrichtigung bei jeder Probetraining-Buchung (zusätzlich zu Magicline)
RESEND_API_KEY=
LEAD_EMAIL_TO=info@fit-inn-trier.de
LEAD_EMAIL_FROM=Fit-Inn Aktion <aktion@fit-inn-trier.de>
